@model IEnumerable<MvcOnlineTicariOtomasyon.Models.Siniflar.SinifGrup3>

<body>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Ürün Marka Tablosu</h3>

            <div class="card-tools">

            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Marka</th>
                        <th>Progress Bar</th>
                        <th style="width: 40px">Toplam</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int siraNo = 0;}
                    @foreach (var x in Model)
                    {
                        <tr>
                            <td>@{siraNo++;} @siraNo</td>
                            <td>@x.marka</td>
                            <td>
                                @if (x.sayi >= 1 && x.sayi<= 2)
                                {
                                    <div class="progress progress-xs  ">
                                        <div class="progress-bar bg-danger" style="width: 55%"></div>
                                    </div>
                                }
                                @if (x.sayi >= 3 && x.sayi <= 6)
                                {
                                    <div class="progress progress-xs  ">
                                        <div class="progress-bar bg-warning" style="width: 70%"></div>
                                    </div>
                                }
                                @if (x.sayi >= 7)
                                {
                                    <div class="progress progress-xs progress-striped active  ">
                                        <div class="progress-bar bg-success" style="width: 90%"></div>
                                    </div>
                                }
                              
                            </td>
                            <td>
                                @if (x.sayi >= 1 && x.sayi <= 3)
                                {
                                    <span class="badge bg-danger text-white">@x.sayi</span>
                                }
                                @if (x.sayi >= 4 && x.sayi <= 6)
                                {
                                    <span class="badge bg-warning text-white">@x.sayi</span>
                                }
                                @if (x.sayi >= 7)
                                {
                                    <span class="badge bg-success text-white">@x.sayi</span>
                                }                               
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>

</body>
